@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: dodgerblue;
    --red: orangered;
    --orange: orange;
    --light-green: limegreen;
    --black: dimgray;
    --white: whitesmoke;
    --light-bg: snow;
    --light-color: silver;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    --box-light: 0 .5rem 1rem rgba(255, 255, 255, 0.8);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

*::selection {
    color: var(--white);
    background-color: var(--main-color);

}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;

}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);

}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}


.mensagem {
    background-color: var(--light-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    /* max-width: 1200px; */
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem;
    top: 0;
    gap: 1rem;
    border: var(--border);
    border-radius: .5rem;
}

.mensagem span {
    font-size: 2.5rem;
    color: var(--black);
}

.mensagem i {
    font-size: 2.5rem;
    color: var(--red);
    cursor: pointer;
}

.mensagem i:hover {
    color: var(--black);
}

.vazio {
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    text-align: center;
    padding: 1.5rem;
    width: 64%;
    font-size: 2rem;
    /* text-transform: capitalize; */
    color: var(--red);
    box-shadow: var(--box-shadow);
    margin: 1rem auto;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container form {
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    width: 50rem;
}

.form-container form h3 {
    font-size: 1.8rem;
    color: var(--black);
    text-transform: uppercase;
}

.form-container form p {
    margin: 1rem 0;
    font-size: 1.8rem;
    color: var(--light-color);
}

.form-container form p span {
    color: var(--orange);
}

.form-container form .inputbox {
    background-color: var(--light-bg);
    color: var(--black);
    width: 100%;
    margin: 1rem 0;
    padding: 1.4rem;
    font-size: 1.8rem;
    border: var(--border);
    border-radius: .5rem;
}

#menu-btn {
    display: none;
}

#user-btn:hover~#menu-btn {
    display: inline-block;
}

.btn, .delete-btn, .option-btn {
    display: block;
    width: 100%;
    border-radius: .5rem;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--white);
    padding: 1rem 4.5rem;
    text-transform: capitalize;
    text-align: center;
}

.btn {
    background-color: var(--light-green);
    box-shadow: var(--box-shadow);
}

.delete-btn {
    background-color: var(--red);
    box-shadow: var(--box-shadow);
}

.option-btn {
    background-color: var(--orange);
    box-shadow: var(--box-shadow);
}

.btn:hover, .option-btn:hover, .delete-btn:hover {
    background-color: var(--main-color);
    transition: .5s;
    box-shadow: var(--box-light);
}

.b:active, .option-btn:active, .delete-btn:active {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.required-field::after {
    content: "*";
    color: red;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo {
    display: inline-flex;
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .logo span {
    color: var(--main-color);
}

.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--black);
}

.header .flex .navbar a:hover {
    background-color: var(--main-color);
    border: 1rem solid var(--main-color);
    border-radius: .5rem;
    color: var(--white);
    margin: 0rem;
    padding: 0rem;
    justify-content: space-between;
    transition: .1s;
}

.header .flex .icons {
    display: inline-flex;
}

.header .flex .icons div {
    margin-left: 1.7rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
}

.header .flex .icons div:hover {
    color: var(--main-color);
}

.header .flex .icons div:hover~.box-main {
    opacity: 10%;
}

@keyframes fadeIn {
    0% {
        transform: translateY(3rem);
    }
}

.header .flex .profile {
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
    width: 30rem;
    padding-top: 1.2rem;
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .profile.active {
    display: inline-block;
}



.header .flex .profile:active+.box-main {
    opacity: 10%;
    display: none;
}

.header .flex .profile p {
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.spacing {
    width: 1rem;
    display: inline-flex;
}

.heading-dash {
    /* position: relative;
    top: 2rem; right: 40rem;
    text-align: right; */
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
    color: var(--black);
    font-size: 2rem;
}

.heading-dash span {
    color: var(--red);
    text-transform: lowercase;
}

section.dashboard .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: stretch;
}

.user-welcome {
    width: 40%;
}

section.dashboard .box-container .box {
    background-color: var(--white);
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem;
}

section.dashboard .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
}

section.dashboard .box-container .box h3 span {
    font-size: 1.5rem;
}

section.dashboard .box-container .box p {
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    /* background-color: transparent; */
    font-size: 2rem;
    box-shadow: var(--box-shadow);
}

.add-produtos form {
    margin: 0 auto;
    max-width: 70rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;

}

.add-produtos form .heading {
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-align: center;
}

.add-produtos form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.add-produtos form .flex .inputbox {
    flex: 1 1 40rem;
}

.add-produtos form .flex .inputbox span {
    font-size: 2rem;
    color: var(--black);
}

.add-produtos form .flex .inputbox textarea[name=descricao] {
    resize: none;
}


.add-produtos form .flex .inputbox .box {
    background-color: var(--light-bg);
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
}

/* Mudar botao enviar imagens */
/* .add-produtos form .flex .inputbox input#input-file[type="file"] {
    display: none;
} */

/* .add-produtos form .flex .inputbox input.box[type="file"]::file-selector-button {
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: inline-block;
    margin-right: 6rem;
    padding: 6px 12px;
    cursor: pointer;
} */

h3.heading {
    font-size: 4rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    margin: 2rem;
}

.mostrar-produtos .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.mostrar-produtos .box-container .box {
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
}

.mostrar-produtos .box-container .box img {
    width: 100%;
    height: 20rem;
    object-fit: contain;
}

.mostrar-produtos .box-container .box .nome {
    font-size: 1.5rem;
    color: var(--black);
}

.mostrar-produtos .box-container .box .preco {
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 1rem 0;
}

.mostrar-produtos .box-container .box .descricao {
    line-height: 2;
    font-size: 1.5rem;
    color: var(--black);
    width: 100%;
    height: 10rem;
    overflow: scroll;
}

.alterar-produto .heading {
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    margin: 2rem;
}

.alterar-produto form {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .4rem;
    border: var(--border);
    padding: 2rem;
    max-width: 60rem;
    margin: 4rem auto;
}

.alterar-produto form .image-container {
    margin-bottom: 2rem;
}

.alterar-produto form .image-container .main-image img {
    height: 20rem;
    width: 100%;
    object-fit: contain;
}

.alterar-produto form .image-container .sub-image {
    display: inline-flex;
    gap: 4rem;
    justify-content: center;
    margin: 1rem 0;
}

.alterar-produto form .image-container .sub-image img {
    height: 5rem;
    width: 7rem;
    object-fit: contain;
    padding: .2rem;
    border: var(--border);
    border-radius: .4rem;
    cursor: pointer;
    transition: .4s linear;
}

.alterar-produto form .image-container .sub-image img:hover {
    transform: scale(1.1);
}

.alterar-produto form .box {
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--light-bg);
    margin: 1rem 0;
}

.alterar-produto form span {
    display: flex;
    font-size: 1.7rem;
    color: var(--black);
}

.alterar-produto form textarea {
    display: flex;
    height: 15rem;
    /* width: 15rem; */
    width: 50rem;
    margin: 2rem auto;
    border-radius: .7rem;
    resize: none;
}



@media (max-width:920px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:720px) {
    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border: var(--border);
        border-radius: .6rem;
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .1s linear;
        box-shadow: var(--box-shadow);
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }

    .header .flex .navbar a:hover {
        border: .5rem solid var(--main-color);
        border-radius: .5rem;
        margin: 2rem;
        padding-left: 1rem;
        box-shadow: var(--box-shadow);
    }
}

@media (max-width:508px) {
    html {
        font-size: 50%;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    .heading-dash {
        font-size: 1.5rem;
    }

    .mostrar-produtos .box-container {
        grid-template-columns: 1fr;
    }
}