body {
  background-color: var(--background-color);
}

.conta {
  max-height: 120vh;
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.conta .container {
  position: relative;
  max-width: 460px;
  width: 100%;
  background: var(--background-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  margin: 0 20px;
}

.container .forms {
  display: flex;
  align-items: center;
  height: 480px;
  width: 200%;
  transition: height 0.2s ease;
}

.container .form {
  width: 50%;
  padding: 32px;
  background-color: var(--background-color);
  transition: margin-left 0.2s ease;
}

.container.active .forms {
  height: 600px;
}

.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.2s ease, opacity 0.1s ease;
}

.container .signup {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container .form .title {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  color: var(--font-color);
}

.container .form .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: var(--main-color);
  border-radius: 32px;
  height: 4px;
  width: 100%;
}

.container .form .input-field {
  position: relative;
  height: 54px;
  width: 100%;
  margin-top: 32px;
}

.form .input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding: 0 52px;
  border-top: 2px solid transparent;
  border-radius: 0 20px;
  border-bottom: var(--input-border) var(--input-color);
  background-color: var(--input-color);
  transition: all 0.1s ease;
}

.form .input-field input:is(:focus) ~ i.icon::before {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--main-color);
  border-radius: 2px;
  transition: border-bottom 0.1s linear;
}

.form .input-field input:valid {
  border-bottom: var(--input-border) var(--light-green);
}

.form .input-field input:invalid {
  border-bottom: var(--input-border) var(--light-red);
}

.form .input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: dimgray;
  font-size: 18px;
  transition: all 0.2s ease;
}

.form .input-field i.icon {
  left: 0;
  padding-left: 16px;
}

.form .input-field i.togglePwd {
  right: 0%;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  font-size: 140%;
  color: var(--font-color);
}

.form .checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.form .checkbox-text .checkbox-content input {
  margin: 0 8px 4px 4px;
  accent-color: var(--green);
}

.form a {
  position: relative;
  color: var(--main-color);
}

.form a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -2px;
  height: 2px;
  width: 10%;
  border-radius: 32px;
}

@keyframes linkSlide {
  from {
    width: 32px;
    background-color: var(--font-color);
  }
  to {
    width: 100%;
    background-color: var(--main-color);
  }
}

.conta .container .form a:hover::before {
  animation-name: linkSlide;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.conta .container .form .button {
  margin-top: 32px;
}

.conta .container .form .button input {
  border: none;
  color: var(--background-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 4px;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.conta .container .form .login-signup {
  margin-top: 32px;
  text-align: center;
  font-size: 140%;
  color: var(--font-color);
}

/* footer.container {
  top: 75%;
  transform: translateY(75%);
  margin-top: -16px;
} */

@media (max-width: 1200px) {
  /* .conta {
    height: 62vh;
  } */

  footer.container {
    top: 60%;
    transform: translateY(60%);
    margin-top: -16px;
    transition: all .4s ease-in-out;
  }
}

@media (max-width: 600px) {
  /* .conta {
    height: 62vh;
  } */

  footer.container {
    top: 45%;
    transform: translateY(45%);
    margin-top: -16px;
  }
}
