/* ################## Slider ######################## */

/* Animaçoes aqui: https://css-tricks.com/animating-with-clip-path/ */

img#slider {
  height: 200px;
  width: 700px;
  cursor: pointer;
  margin: 40px 0px 40px 0px;
}

.slider {
  position: relative;
  background: var(--black);
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 0px;
  margin-top: calc(1 * var(--1w));
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 280px;
  clip-path: circle(0% at 0 10%);
}

.slider .slide.active {
  clip-path: circle(150% at 0 10%);
  transition: 1s;
}

.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation {
  opacity: 1;
}

.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: var(--font-color);
  background: var(--background-color);
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* ################## Vitrine ######################## */
.list-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(26 * var(--1w)), 1fr));
  gap: calc(1.5 * var(--1w));
  justify-content: center;
}

.list-cards .cards-items {
  display: block;
  /* background-color: var(--white); */
  background-color: var(--background-color);
  position: relative;
  box-sizing: border-box;
  border-radius: calc(0.5 * var(--1w));
  padding: calc(2 * var(--1w));
  margin-bottom: calc(5 * var(--1w));
  overflow: hidden;
  user-select: none;
  box-shadow: var(--box-shadow);
}

/* ################## Produto ######################## */
.cards-items .products-imgs {
  width: 100%;
  height: calc(2 * var(--1w) 0);
  object-fit: contain;
  margin-bottom: calc(2 * var(--1w));
}

.cards-items .products-name {
  font-size: calc(1.6 * var(--1w));
  color: var(--font-color);
}


.cards-items .cards-price {
  color: var(--font-color);
  margin-top: calc(1 * var(--1w));
  user-select: text;
}

.cards-items .cards-price .old-price {
  font-size: calc(1.5 * var(--1w));
  font-weight: 600;
  color: var(--main-color);
}

.cards-items .cards-price .old-price em {
  font-size: calc(1.6 * var(--1w));
  text-decoration: line-through;
}

.cards-items .cards-price .price {
  font-size: calc(3 * var(--1w));
  font-weight: 700;
  color: var(--green);
  /* text-shadow: 1px 1px 2px var(--black); */
}

.cards-items .cards-price .price span {
  font-size: calc(1.4 * var(--1w));
  color: var(--green);
}

.cards-items .cards-price .price-opt {
  font-size: calc(1.8 * var(--1w));
  font-weight: 400;
  color: var(--font-color);
}

.cards-items .fa-heart,
.cards-items .fa-eye {
  position: absolute;
  top: calc(1 * var(--1w));
  height: calc(4.5 * var(--1w));
  width: calc(4.5 * var(--1w));
  line-height: calc(4.2 * var(--1w));
  font-size: calc(2 * var(--1w));
  /* background-color: var(--white); */
  background-color: var(--background-color);
  border: var(--border);
  border-radius: calc(0.5 * var(--1w));
  text-align: center;
  /* color: var(--black); */
  color: var(--font-color);
  cursor: pointer;
  transition: 0.2s linear;
}

.cards-items .fa-heart {
  right: calc(-6 * var(--1w));
}

.cards-items .fa-eye {
  left: calc(-6 * var(--1w));
}

.cards-items .fa-heart:hover,
.cards-items .fa-eye:hover {
  /* background-color: var(--black); */
  background-color: var(--font-color);
  /* color: var(--white); */
  color: var(--background-color);
}

.cards-items:hover .fa-heart {
  right: calc(1 * var(--1w));
}

.cards-items:hover .fa-eye {
  left: calc(1 * var(--1w));
}

.cards-items select {
  box-shadow: var(--box-shadow);
  width: 100%;
  padding: calc(1.4 * var(--1w));
  font-size: calc(1.8 * var(--1w));
  /* color: var(--black); */
  color: var(--font-color);
  border-radius: calc(0.5 * var(--1w));
}

@media (min-width: 1220px) {
  .list-cards .cards-items:hover {
    /* .list-cards .cards-items {  */
    /* debug */
    box-shadow: var(--card-box-shadow);
    /* margin-top: -2px; */
    /* margin-left: -2px; */
    margin: -2px 2px calc(5 * var(--1w) + 2px) -2px;
    transition: 0.2s ease;
  }
}

@media (max-width: 1220px) {
  .list-cards {
    gap: calc(0.1 * var(--1w));
  }

  .list-cards .cards-items {
    margin: 0 calc(1 * var(--1w)) calc(4 * var(--1w));
  }
}

@media (max-width: 600px) {
  .slider {
    width: 96%;
    /* height: calc(19.4 * var(--1w)); */
    /* margin: calc(1 * var(--1w)); */
  }

  .list-cards .cards-items {
    margin: 0 calc(2 * var(--1w)) calc(4 * var(--1w));
    width: 90%;
  }
}
