.quickview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  /* visibility: visible; */
  /* debug */
}

.quickview.active {
  visibility: visible;
  background-color: rgba(250, 250, 250, 0.7);
}

.quickview .closeWindow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(1100%, 4vh);
}

.quickview .closeWindow {
  background-color: var(--font-color);
  color: var(--background-color);
  width: calc(4 * var(--1w));
  height: calc(4 * var(--1w));
  border-radius: 50%;
  font-size: calc(2.2 * var(--1w));
  cursor: pointer;
  z-index: 100;
  /* background: blueviolet; */
  /* debug */
}

.quickview .closeWindow:hover {
  color: var(--red);
}

.quickview .wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(0.4 * var(--1w));
  /* overflow: hidden; */
  background-color: var(--background-color);
  max-width: calc(92 * var(--1w));
  max-height: calc(64 * var(--1w));
  padding: calc(1.4 * var(--1w));
  border: calc(0.2 * var(--1w)) solid black;
  border-radius: calc(0.4 * var(--1w));
  /* background-color: crimson; */
  /* debug */
}

.quickview .wrap .col {
  margin: calc(0.4 * var(--1w));
}

.quickview .btn-nav {
  width: calc(2 * var(--1w));
  height: calc(2 * var(--1w));
  border-radius: calc(4 * var(--1w));
  background-color: var(--font-color);
  color: var(--background-color);
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quickview .btn-nav i {
  color: var(--background-color);
}

.quickview .btn-nav:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.quickview .wrap .img-swip {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(0.4 * var(--1w));
  /* background-color: orange; */
  /* debug */
}

.quickview .wrap .img-swip img {
  max-height: calc(5 * var(--1w));
  max-width: calc(5 * var(--1w));
  border-radius: calc(0.4 * var(--1w));
  margin: calc(0.2 * var(--1w)) auto;
}

.quickview .wrap .img-swip img:hover {
  border: calc(0.2 * var(--1w)) solid silver;
  cursor: pointer;
}

.quickview .wrap .prod-img {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(44 * var(--1w));
  height: calc(44 * var(--1w));
  /* background-color: gold; */
  /* debug */
}
.quickview .wrap .prod-img img {
  height: 100%;
  width: 100%;
  border-radius: calc(0.4 * var(--1w));
}
.quickview .wrap .prod-info {
  color: var(--font-color);
  margin-left: calc(1 * var(--1w));
  /* background-color: mediumseagreen; */
  /* debug */
}

.quickview .prod-info .title {
  font-size: calc(2 * var(--1w));
  font-weight: 600;
  max-width: 300px;
}

.quickview .prod-info .prod-price {
  font-size: calc(3 * var(--1w));
  margin: calc(2.4 * var(--1w)) auto;
}

.quickview .prod-price .discount {
  font-size: 50%;
}

.quickview .prod-price .discount em {
  text-decoration: line-through;
}

.quickview .prod-price .price {
  font-weight: 700;
  margin: -10px auto;
}

.quickview .prod-price .opt {
  font-size: 70%;
  margin: -10px auto;
}

.quickview .shipping {
  font-size: calc(1.4 * var(--1w));
  margin: 16px 4px;
}

.quickview .choose-opt {
  font-size: calc(1.4 * var(--1w));
}

.quickview .choose-opt .label {
  margin-bottom: calc(1 * var(--1w));
}

.quickview .choose-opt .opt-list {
  background-color: var(--background-color);
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  gap: calc(0.4 * var(--1w));
  /* background-color: dodgerblue; */
  /* debug */
}

.quickview .choose-opt .opt-list img {
  height: calc(5 * var(--1w));
  border-radius: calc(0.4 * var(--1w));
}

.quickview .choose-opt .opt-list img:hover {
  /* height: calc(5.2 * var(--1w)); */
  /* padding-bottom: 2px; */
  /* margin: -1px 0 -1px; */
  border: calc(0.2 * var(--1w)) solid var(--main-color);
  /* background-color: var(--main-color); */
  cursor: pointer;
  transition: all 0.2s ease;
}

.quickview .prod-info form {
  display: flex;
  margin: 16px 4px 4px;
  width: 300px;
  gap: 8px;
}
.quickview .prod-info form .qty {
  width: 25%;
  padding: calc(1 * var(--1w));
  border: var(--border);
  font-size: calc(1.8 * var(--1w));
  /* color: var(--black); */
  color: var(--font-color);
  background-color: var(--background-color);
  border-radius: calc(0.5 * var(--1w));
}

.quickview .btn-cart {
  background-color: var(--green);
  color: var(--white);
  width: 75%;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  border: none;
  transition: background-color 0.4s ease;
}

.quickview .btn-cart:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

@media (max-width: 900px) {
  .quickview .wrap {
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: calc(64 * var(--1w));
    max-height: calc(88 * var(--1w));
    margin: calc(1 * var(--1w));
    margin-top: calc(6 * var(--1w));
    overflow-y: scroll;
  }
  .quickview .wrap .img-swip {
    flex-direction: row;
  }
  .quickview .wrap .prod-img {
    height: 380px;
    width: 380px;
  }
  .quickview .wrap .prod-info .title {
    max-width: 370px;
  }
  .quickview .wrap .prod-info .prod-price {
    margin: calc(3 * var(--1w)) auto;
  }
  .quickview .closeWindow {
    transform: translate(530%, 10vh);
  }
}
