@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

:root {
    --main-color: darkcyan;
    --amoled-black: rgba(0, 0, 0, 0.8);
    --black: #1f1f1f;
    --white: lavenderBlush;
    --green: forestgreen;
    --light-color: snow;
    --dark-color: black;
    --light-blue: dodgerBlue;
    --border: 2px solid #1f1f1f;
    --footer-border: 5px solid var(--main-color);
    --card-border: 1.8px groove black;
    --card-box-shadow: lightgray 10px 10px 10px 10px;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

/* Modifica todos os conteudo dentro do documento HTML*/

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
}

::-webkit-scrollbar {
    width: .4rem;
    height: .5rem;
    background-color: var(--main-color);
    transition: width .6s ease-in-out;
}

::-webkit-scrollbar:hover,
::-webkit-scrollbar:active {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
    border-radius: .6rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: .6rem;
}


/* Modifica todo o contéudo da tag main */

#all-container,
.productslider,
section {
    background-color: var(--white);
}

/* modifica a logo */

.logo-img {
    display: flex;
    width: 4rem;
    height: 4rem;
}

.header {
    border-bottom: 3px solid var(--main-color);
}

/* Modifica os elementos da barra de naavegação */

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--black);
    border-bottom: var(--border);
}

/* Banner */

.top-banner {
    background-image: url("../image/banner.png");
    background-position: center;
    background-size: cover;
    background-color: var(--light-blue);
    height: 20em;
    margin: 0 auto;
    margin-top: 14px;
}

/* ################# Estilização do Menu Suspenso - Departamento ################# */


.btn {
    background-color: var(--black);
    color: var(--light-color);
    padding: 16px 10px;
    font: 16px 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
    /* width: 14rem; */
    width: 14rem;
    min-height: 3.5rem;
    border-radius: .1rem;
    transition: .5s ease;
}

.btn:hover {
    background-color: var(--main-color);
}

#link-search{
    padding: 0 4px 4px 0;
    width: 5rem;
}

.dropdown {
    position: relative;
    display: block;
    justify-content: initial;
    align-items: initial;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--black);
    min-width: 225px;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: 0px;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    border-radius: 0px;
}

.dropdown-content a:hover {
    background-color: var(--main-color);
    /* transition: background-color .5s; */
}

.showMenuSuspenso,
.dropdown-content.active {
    display: block;
    transition: .8s;
    animation: dropDownAnimation 300ms ease-in-out forwards
}

@keyframes dropDownAnimation {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}


/* ################# Estilização da Barra de Pesquisa ################# */

.pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#isearch {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-width: 29rem;
    min-height: 58px;
    font: 1rem;
    padding-left: 1.5rem;
    border: var(--border);
    border-radius: 0px;
}

/* ################# Div container Conta e Carrinho ################# */
.minhaconta,
.carrinho {
    background-color: var(--black);
    color: var(--light-color);
}

/* ################# Icones da Barra de Navegação ################# */

.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
    min-height: 1.5em;
    height: 100%;
    width: 2em;
    margin: 10px 10px 10px 10px;
    padding: 0;
    filter: invert(100%);
}

#searchicon {
    background-image: url("../image/icones/icone-de-lupa.png");
    padding: 0 35px 0px 0px;
    width: 10px;
}

#link-carrinho {
    background-image: url("../image/icones/icons8-carrinho-de-compras-32.png");
    background-position: center;
    background-repeat: no-repeat;
}

/* ################# Image Slider ################# */

/* .productslider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.prev,
.next {
    background-color: var(--black);
    cursor: pointer;
    padding: 16px;
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px 0px 0px 7px;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 0px 7px 7px 0px;
}

.prev:hover,
.next:hover {
    background-color: var(--amoled-black);
} */

img#slider {
    height: 200px;
    width: 700px;
    cursor: pointer;
    margin: 40px 0px 40px 0px;
}

.slider {
    position: relative;
    background: var(--black);
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 0px;
}

/* Animaçoes aqui: https://css-tricks.com/animating-with-clip-path/ */
.slider .slide {
    position: absolute;
    width: 100%;
    height: 280px;
    clip-path: circle(0% at 0 10%);
}

.slider .slide.active {
    clip-path: circle(150% at 0 10%);
    transition: 1s;
}

.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn,
.next-btn {
    z-index: 999;
    font-size: 2em;
    color: var(--light-color);
    background: var(--black);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


/* ################## Vitrine ######################## */

/* Modifica todos os elementos dos cards */

.container-prod {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

/* Modifica a fila de cards */
.list-cards {
    display: flex;
    flex-direction: row;

}

/* Modifica os cartões e seu conteudo interior */
.cards-items {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: var(--card-border);
    border-radius: 0 0 0 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
}

/* Modifica o card quando o cursor está sobre ele */

.cards-items:hover {
    box-shadow: var(--card-box-shadow);
}

/* Modifica o elemento onde está preço */
.cards-price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Modifica o nome dos produtos */
.products-name {
    display: inline-block;
    font-size: 12px;
}

/*  Modifica as imagens do produto e seu filtro */
.products-imgs,
figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*  Modifica o botão do adicionar ao carrinho */
.buy-bttn {
    background-color: var(--green);
    color: var(--light-color);
    padding: 16px;
    font-size: 16px;
    border: none;

}

/* Modifica o contéudo do botão */
.buy-bttn a {
    text-decoration: none;
    color: var(--light-color);
}

/* ########################## Rodapé ########################## */

footer {
    /* padding-bottom: 25px; */
    margin-top: 15px;
    color: var(--light-color);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    border-top: var(--border);
    background-color: var(--black);
}

.columns-footer {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    margin: 45px;
    padding: auto;
}

.columns-footer>span,
span>a {
    /* letter-spacing: 2px; */
    /* margin-top: 15px; */
    /* font-size: 12px; */
    color: whitesmoke;
    font: 16px Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 6px;
}

.columns-footer>span a:hover {
    background-color: var(--main-color);
    border: var(--footer-border);
    border-radius: 8px;
    color: var(--light-color);
    justify-content: space-between;
    transition: .2s;
    margin: none;
    padding: none;
}