/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap'); */
@import url(../font/stylesheet.css);

/* Automatic Color Scheme */
:root,
:root.light {
  --test-main-color: 235, 235, 235;
  --main-color: #f75a09;
  --secondary-color: #2b79d6;
  --black: #1f1f1f;
  --white: #fff;
  --debug-white: #fff0f5; /* lavenderblush */
  --light-red: #fc355c;
  --red: #dc143c; /* crimson */
  --light-orange: #ffa500; /* orange */
  --orange: #ff8c00; /* darkorange */
  --light-yellow: #f0e68c; /* khaki */
  --yellow: #ffd700; /* gold */
  --light-green: #3cb371; /* mediumseagreen */
  --green: #228b22; /* forestgreen */
  --light-blue: #1e90ff; /* dodgerBlue */
  --blue: #000080; /* navy */
  --light-purple: #8a2be2; /* blueviolet */
  --purple: #4b0082; /* indigo */
  --font-color: #1f1f1f;
  --background-color: #ebebeb;
  --border: calc(0.1 * var(--1w)) solid var(--font-color);
  --footer-border: calc(0.5 * var(--1w)) solid var(--main-color);
  --card-border: calc(1.8 * var(--1w)) groove black;
  --card-box-shadow: #5a5a5a calc(0.2 * var(--1w)) calc(0.8 * var(--1w))
    calc(1.2 * var(--1w)) calc(0.8 * var(--1w));
  --box-shadow: 0 calc(0.8 * var(--1w)) calc(1.6 * var(--1w)) 0
    var(--font-color);
  --input-shadow: calc(0.1 * var(--1w)) calc(0.4 * var(--1w))
    calc(1 * var(--1w)) calc(-0.6 * var(--1w)) var(--font-color);
  --input-color: var(--background-color);
  --input-border: calc(0.2 * var(--1w)) solid;
  /* Weight */
  --section-width: calc(140 * var(--1w));
  /* --1w: 1rem; */
  --1w: 10px;

  /* --section-width: calc(180 * var(--1w)); */
  /* --1w: .8rem; */
  /* note auditorio */

  --checkout-offset: 0%;
}

/* Modifica todos os conteudo dentro do documento HTML*/

* {
  font-family: 'Poppins', 'Arial', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scrollbar-color: var(--main-color) var(--black);
  /* thumb track */
  /* scrollbar-gutter: stable both-edges; conflito com margens :( */
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: calc(1 * var(--1w));
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: calc(0.6 * var(--1w));
  width: calc(0.2 * var(--1w));
  border: calc(0.4 * var(--1w)) solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  border: calc(0.2 * var(--1w)) solid transparent;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  position: relative;
}

section {
  max-width: var(--section-width);
  margin: calc(2 * var(--1w)) auto 0;
}
svg {
  height: calc(3 * var(--1w));
  /* width: calc(3 * var(--1w)); */
}

a {
  text-decoration: none;
}

/* ################# Estilização da User_Header ################# */
#header .container {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: calc(0.3 * var(--1w)) solid var(--main-color);
  background-color: var(--black);
  box-shadow: var(--box-shadow);
  gap: calc(0.4 * var(--1w));
  width: 100%;
  max-height: calc(9 * var(--1w));
  max-width: unset;
  height: calc(7 * var(--1w));
  margin: 0 auto;
  z-index: 1000;
  transition: all 0.5s ease;
}

#header .container .logo-img img {
  float: left;
  flex: 1 1 0px;
  margin: calc(0.4 * var(--1w));
  width: calc(12 * var(--1w));
  height: calc(6 * var(--1w));
}

#header .container .categorias {
  display: flex;
  justify-content: left;
  align-items: center;
  float: left;
}

#header .container .categorias .nav-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* background-color: var(--light-red); */
  /* debub */
}

#header .nav-wrapper form .send {
  background-color: var(--black);
  color: var(--white);
  text-align: left;
  padding-left: calc(0.8 * var(--1w));
  width: 100%;
  height: 100%;
  margin: calc(0.4 * var(--1w));
  border: none;
  font-size: calc(1.6 * var(--1w));
  font-weight: 400;

  /* background-color: var(--light-blue); */
  /* debub */
}

#header .nav-wrapper form .send:hover {
  background-color: var(--main-color);
  border: calc(-0.2 * var(--1w)) solid var(--background-color);
  margin: calc(0.3 * var(--1w)) calc(0.5 * var(--1w)) calc(0.5 * var(--1w))
    calc(0.3 * var(--1w));
}

#header .container .fa-bars,
#header .container .mobile {
  display: none;
}

#header .container .searchbar {
  max-width: calc(62 * var(--1w));
  width: 100%;
  transition: all 0.2s ease;
}

#header .container .nav-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: calc(5.7 * var(--1w));
  gap: calc(0.2 * var(--1w));
}

#header .container .nav-search .isearch {
  font-size: calc(1.6 * var(--1w));
  padding-left: calc(1.5 * var(--1w));
  height: 100%;
  width: 90%;
}

#header .container .nav-search.active {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 2vh);
  width: 67.5%;
  border: calc(0.1 * var(--1w)) solid black;
  animation: searchbarAnima 0.8s ease forwards alternate;
  z-index: 999;
}

#header .container .nav-cart .cart-qty {
  background-color: var(--background-color);
  color: var(--font-color);
  border-radius: calc(8 * var(--1w));
  height: calc(1.6 * var(--1w));
  width: calc(1.6 * var(--1w));
  font-size: calc(1.2 * var(--1w));
  padding-bottom: calc(0.2 * var(--1w));
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  transform: translate(-20%, -50%);
}

@keyframes searchbarAnima {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 1);
  }
}

#header .container .colorScheme {
  margin-right: calc(-0.4 * var(--1w));
}

#header .container .colorScheme .btn {
  border-radius: calc(2 * var(--1w)) 0 0 calc(2 * var(--1w));
  margin: 0;
  float: right;
}

/* header .icons {
  width: calc(1.6 * var(--1w));
  height: calc(1.6 * var(--1w));
} */

/* .nav-cart .cart-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;

} */

.dropdown .dropdown-wrapper .cart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#carrinho.dropdown-content {
  max-width: calc(46 * var(--1w));
  max-height: calc(50 * var(--1w));
  /* min-width: calc(36 * var(--1w)); */
  /* width: 20%; */
  width: 300px;
  
}

#carrinho.dropdown-content.register {
  width: unset;
}

#carrinho.dropdown-content.active {
  overflow-y: scroll;
}

#carrinho .divisor {
  border-top: calc(0.1 * var(--1w)) solid var(--font-color);
  width: 90%;
  padding: 0 calc(0.4 * var(--1w));
  margin: calc(0.8 * var(--1w)) auto;
}

#carrinho .cart-header {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: calc(1.6 * var(--1w));
  margin-bottom: calc(1.6 * var(--1w));
  border-bottom: calc(0.1 * var(--1w)) solid silver;
}

#carrinho .price {
  /* font-size: 1.8; */
  font-size: calc(1.8 * var(--1w));
  font-weight: 600;
}

#carrinho .price span {
  color: var(--green);
}

#carrinho .prod-wrapper {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: calc(0.4 * var(--1w));
  border-radius: calc(0.4 * var(--1w));
  /* background-color: var(--light-green); */
  /* debug carrinho */
}

#carrinho .prod-wrapper .cart-del-btn {
  background-color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 2.0; */
  width: calc(2 * var(--1w));
  /* height: 2.0; */
  height: calc(2 * var(--1w));
  /* border-radius: 4.0; */
  border-radius: calc(4 * var(--1w));
  /* background-color: var(--light-blue); */
  /* debug carrinho */
  position: absolute;
  right: 0;
  transform: translate(0%, -50%);
}

#carrinho .prod-wrapper .cart-del-btn button {
  background-color: transparent;
}

#carrinho .prod-wrapper .cart-del-btn button :is(i, svg) {
  color: var(--background-color);
}

#carrinho .prod-wrapper .cart-del-btn button:hover :is(i, svg) {
  color: var(--light-red);
  cursor: pointer;
}

#carrinho .cart-info {
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(0.1 * var(--1w)) calc(0.2 * var(--1w));
  font-size: calc(1.6 * var(--1w));
  max-width: calc(30 * var(--1w));
  /* background-color: var(--light-orange); */
  /* debug carrinho */
}

#carrinho .cart-info .cart-img {
  align-self: flex-start;
  /* background-color: var(--purple); */
  /* debug carrinho */
  /* max-width: 30%; */
}

#carrinho .cart-info .cart-img img {
  /* height: 9.0; */
  height: calc(9 * var(--1w));
  width: auto;
  border-radius: calc(0.4 * var(--1w));
}

#carrinho .cart-info .cart-title {
  /* background-color: var(--light-red); */
  /* debug carrinho */
  font-size: calc(1.6 * var(--1w));
  margin-left: calc(1.6 * var(--1w));
  text-align: right;
  align-self: flex-start;
  /* padding-right: calc(.2 * var(--1w)); */
  /* max-width: 70%; */
  max-height: calc(10 * var(--1w));
  overflow: hidden;
  transition: max-height 1s ease;
}

#carrinho .cart-info .cart-title:hover {
  /* transform: translateY(calc(10 * var(--1w))); */
  max-height: calc(20 * var(--1w));
}

#carrinho .cart-info .item-qty {
  font-size: calc(2 * var(--1w));
}

#carrinho .checkout-btn {
  display: flex;
  gap: calc(0.4 * var(--1w));
  max-width: calc(32.1 * var(--1w));
}

/* ################# Estilização do Menu Suspenso - Departamento ################# */
.vazio {
  background-color: var(--background-color);
  border-radius: calc(0.5 * var(--1w));
  border-bottom: calc(0.3 * var(--1w)) solid var(--main-color);
  text-align: center;
  padding: calc(1.5 * var(--1w));
  width: 100%;
  font-size: calc(2 * var(--1w));
  color: var(--font-color);
  box-shadow: var(--box-shadow);
  margin: calc(1 * var(--1w)) auto;
}
.vazio img {
  margin-top: 1%;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: var(--font-color);
  color: var(--background-color);
  /* padding: calc(1.6 * var(--1w)) calc(1 * var(--1w)); */
  padding: calc(1.6 * var(--1w));
  border-radius: calc(0.1 * var(--1w));
  font-size: calc(1.6 * var(--1w));
  transition: 0.2s ease;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: var(--main-color);
}

.dropdown .dropdown-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black);
  min-width: calc(16 * var(--1w));
  box-shadow: var(--box-shadow);
  border-radius: 0;
}

.dropdown .dropdown-content.active {
  display: block;
  transition: 0.8s;
  animation: dropDownAnimation 300ms ease-in-out forwards;
  padding: calc(1 * var(--1w));
}

.dropdown .dropdown-content .link {
  display: flex;
  flex-direction: column;
  color: white;
  padding: calc(1.2 * var(--1w)) calc(1 * var(--1w));
  text-decoration: none;
  font-size: calc(1.6 * var(--1w));
}

.dropdown .dropdown-content a:hover {
  background-color: var(--main-color);
  color: var(--font-color);
}

@keyframes dropDownAnimation {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  50% {
    transform: rotateX(-20deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.mensagem {
  background-color: var(--background-color);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  border-radius: calc(0.3 * var(--1w));
  box-shadow: var(--box-shadow);
  max-width: calc(75 * var(--1w));
  padding: calc(1.6 * var(--1w));
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(36 * var(--1w));
  z-index: 1000;
}

.mensagem span {
  font-size: calc(1.8 * var(--1w));
  color: var(--font-color);
}

.mensagem :is(i, svg) {
  width: calc(2.6 * var(--1w));
  height: calc(2.6 * var(--1w));
  font-size: calc(2.5 * var(--1w));
  color: var(--red);
  cursor: pointer;
}

.mensagem :is(i, svg):hover {
  color: var(--main-color);
}

.mensagem.close {
  z-index: 0;
  top: 50%;
  transition: top 1s ease;
}

.totop {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  /* border-radius: 2.0; */
  border-radius: calc(2 * var(--1w));
  /* height: 4.0; */
  height: calc(4 * var(--1w));
  /* width: 4.0; */
  width: calc(4 * var(--1w));
  right: 2%;
  bottom: -6%;
  background-color: var(--font-color);
  color: var(--background-color);
  font-size: calc(2 * var(--1w));
  z-index: 998;
  transition: bottom 0.8s ease;
}

.totop a {
  position: fixed;
  /* height: 4.0; */
  height: calc(4 * var(--1w));
  /* width: 4.0; */
  width: calc(4 * var(--1w));
}

.totop.scrollup {
  bottom: 2%;
  animation: topAnim 0.8s ease alternate;
}
@keyframes topAnim {
  from {
    bottom: -6%;
  }
  to {
    bottom: 2%;
  }
}
.totop:hover {
  transition: all 0.2s ease-out;
  background-color: var(--main-color);
}

/* ########################## Rodapé ########################## */

#footer .container {
  background-color: var(--black);
  border-top: calc(0.2 * var(--1w)) solid var(--main-color);
  position: relative;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
  padding: calc(3.2 * var(--1w));
  margin: 0 auto;
  margin-top: calc(6.4 * var(--1w));
  max-width: unset;
}

#footer .container .footer-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(28.6 * var(--1w)), 1fr));
  /* gap: 1.6; */
  gap: calc(1.6 * var(--1w));
  align-items: flex-start;
}

#footer .container .footer-wrap .row h3 {
  /* font-size: 2.0; */
  font-size: calc(2 * var(--1w));
  color: var(--white);
  /* margin-bottom: 2.0; */
  margin-bottom: calc(2 * var(--1w));
  text-transform: capitalize;
}

#footer .container .footer-wrap .row a {
  display: block;
  /* margin: 1.6 0; */
  margin: calc(1.6 * var(--1w)) 0;
  /* font-size: 1.6; */
  font-size: calc(1.6 * var(--1w));
  color: var(--white);
}

#footer .container .footer-wrap .row a :is(i, svg) {
  padding-right: calc(1 * var(--1w));
  transition: 0.2s linear;
  color: var(--main-color);
}

#footer .container .footer-wrap .row a:hover {
  color: var(--main-color);
}

#footer .container .footer-wrap .row a:hover :is(i, svg) {
  padding-right: calc(2 * var(--1w));
}

#footer .container .footer-wrap .pay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#footer .container .footer-wrap .pay img {
  width: 18%;
}

#footer .container .footer-wrap .row .sml {
  width: 50%;
}

#footer .container .credit {
  text-align: center;
  border-top: calc(0.1 * var(--1w)) solid #fff;
  color: var(--white);
  /* font-size: 1.2; */
  font-size: calc(1.2 * var(--1w));
}

#footer .container .credit span {
  color: var(--main-color);
}

/* ########################## Media ########################## */

@media (max-width: 1400px) {
  #header .container .fa-chevron-down,
  #header .container .btn span {
    display: none;
  }
  #header .container .fa-bars {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  #header .container .searchbar {
    width: 40%;
    transition: all 0.2s ease;
  }
  .dropdown .dropdown-wrapper.cart {
    justify-content: flex-end;
  }
  #carrinho.dropdown-content {
    width: 354px;
  }
}

@media (max-width: 1142px) {
  #header .container .nav-search {
    display: none;
  }

  #header .container .icon,
  #header .container .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header .container .searchbar {
    width: auto;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
  .slider {
    height: calc(19.4 * var(--1w));
    margin: calc(1 * var(--1w));
    transition: all 1s ease;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #header .container {
    gap: calc(0.1 * var(--1w));
  }
}

@media (max-width: 578px) {
  html {
    font-size: 50%;
  }
}

/* ########################## Color Scheme ########################## */
/* As color-schemes light e dark são necessárias para o modo desenvolvedor*/

@media (prefers-color-scheme: light) {
  :root,
  :root.light {
    --font-color: #1f1f1f;
    --background-color: #ebebeb;
    /* --box-shadow: calc(.0 * var(--1w)) calc(.8 * var(--1w)) 1.6 calc(.0 * var(--1w)) var(--font-color); */
    --box-shadow: 0 calc(0.8 * var(--1w)) calc(1.6 * var(--1w)) 0
      var(--font-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root,
  :root.dark {
    --font-color: #fffafa;
    --background-color: #1f1f1f;
    --card-box-shadow: #d3d3d3 calc(0.4 * var(--1w)) calc(0.4 * var(--1w))
      calc(0.8 * var(--1w)) calc(0.1 * var(--1w));
    --box-shadow: calc(0.1 * var(--1w)) calc(0.1 * var(--1w))
      calc(0.4 * var(--1w)) 0 #c7c7c7;
    --input-color: #d3d3d3;
  }
}

/* Manual Dark Color Scheme */
:root.dark {
  --font-color: #fffafa;
  --background-color: #1f1f1f;
  --card-box-shadow: #d3d3d3 calc(0.4 * var(--1w)) calc(0.4 * var(--1w))
    calc(0.8 * var(--1w)) calc(0.1 * var(--1w));
  --box-shadow: calc(0.1 * var(--1w)) calc(0.1 * var(--1w))
    calc(0.4 * var(--1w)) 0 #c7c7c7;
  --input-color: #d3d3d3;
}
