<div id="footer">
  <footer class="container">
    <div class="footer-wrap">
      <div class="row">
        <h3>Links</h3>
        <a href="about.php"> <i class="fas fa-angle-right"></i>Sobre nós</a>
        <a href="<?php echo File_Path::conta();?>">
          <i class="fas fa-angle-right"></i>Conta</a
        >
        <!-- <a href="shop.php"> <i class="fas fa-angle-right"></i>Loja</a> -->
        <!-- <a href="contact.php"> <i class="fas fa-angle-right"></i>Contatos</a> -->
      </div>

      <div class="row">
        <h3>Cliente</h3>
        <!-- <a href="user_login.php"> <i class="fas fa-angle-right"></i>Login</a> -->
        <!-- <a href="user_register.php">
            <i class="fas fa-angle-right"></i>Registrar</a
          > -->
        <a href="cart.php"> <i class="fas fa-angle-right"></i>Carrinho</a>
        <a href="orders.php"> <i class="fas fa-angle-right"></i>Pedidos</a>
      </div>

      <div class="row" style="display: normal">
        <h3>Contatos</h3>
        <a href="tel:11122233333"
          ><i class="fas fa-phone"></i>+55 (61) 9876-5432</a
        >
        <!-- <a href="mailto: macacohomem1337@gmail.com"> -->
        <a href="mailto: techgrifo@gmail.com">
          <!-- <i class="fas fa-envelope"></i>macacohomem1337</a> -->
          <i class="fas fa-envelope"></i>TechGrifo
        </a>
        <a href="https://www.google.com/myplace"
          ><i class="fas fa-map-marker-alt"></i>Ceilandia, DF - 2022
        </a>
      </div>

      <!-- habilitar posteriormente -->
      <!-- <div class="row" style="display: normal">
          <h3>Pagamentos</h3>
          <div class="pay">
            <img class="" src="../image/pay/pix.png" alt="pix">
            <img class="sml" src="../image/pay/mercadopago.png" alt="mercadopago">
            <img class="" src="../image/pay/paypal.png" alt="paypal">
            <img class="" src="../image/pay/visa.png" alt="visa">
            <img class="" src="../image/pay/mastercard.png" alt="mastercard">
            <img class="" src="../image/pay/american.png" alt="american">
            <img class="" src="../image/pay/boleto.png" alt="boleto">
          </div>
        </div> -->

      <div class="row">
        <h3>Nossas Redes Sociais</h3>
        <!-- <a href="#"><i class="fab fa-facebook-f"></i>facebook</a> -->
        <a href="#"><i class="fab fa-twitter"></i>twitter</a>
        <a href="#"><i class="fab fa-instagram"></i>instagram</a>
        <!-- <a href="#"><i class="fab fa-linkedin"></i>linkedin</a> -->
      </div>
    </div>
    <div class="credit">
      &copy; Copyright @
      <?= date('Y'); ?>
      por <span>Grupo TechGrifo - Escola Técnica de Ceilândia</span> | Todos os
      direitos reservados!
    </div>
  </footer>
</section>
