<div id="overlay">
    <main id="all-container">
        <section class="container-prod">
            <div class="list-cards">
                <div class="cards-items">
                    <figure><img src="../image/produtos/1-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/2-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/n3-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/4-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
            </div>
            <div class="list-cards">
                <div class="cards-items">
                    <figure><img src="../image/produtos/5-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/6-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/7-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/8u-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
            </div>
            <div class="list-cards">
                <div class="cards-items">
                    <figure><img src="../image/produtos/9-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/10-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/11-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/12-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
            </div>
            <div class="list-cards">
                <div class="cards-items">
                    <figure><img src="../image/produtos/13-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/n14u-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/15-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/15-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
            </div>
            <div class="list-cards">
                <div class="cards-items">
                    <figure><img src="../image/produtos/16-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/17-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/18-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
                <div class="cards-items">
                    <figure><img src="../image/produtos/19-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
            </div>
            <!-- Aqui dá ruim o card fica muito grande - Obs.:precisa arrumar -->
            <!-- <div class="list-cards">
                <div class="cards-items">
                    <figure><img src="../image/produtos/20u-min.jpg" class="products-imgs" /></figure>
                    <p class="products-name">PC Gamer</p>
                    <figcaption class="cards-price">Preço: R$ 3.000,00</figcaption>
                    <button class="buy-btn">
                        <a href="#">Adicionar ao Carrinho</a>
                    </button>
                </div>
            </div> -->
        </section>
    </main>
</div>